<a href="https://colab.research.google.com/github/glnrzr/TezCalismasi/blob/master/corpusdaTfIdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
corpus="""A total of 1252 patients were included in this study, including 685 (54.6%) males and 567 (45.4%) females. 
The median age was 59 years old (range, 18-75 years). 
The median TD count was 2, with a range of 1 to 38. 
The median follow-up of all the patients was 46 months, with a range of 1 month to 71 months.""".split('\n')

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

tf = CountVectorizer()
TF = tf.fit_transform(corpus)
print(tf.get_feature_names())
print(TF.toarray()[0,:]) #toarray()

['1252', '18', '38', '45', '46', '54', '567', '59', '685', '71', '75', 'age', 'all', 'and', 'count', 'females', 'follow', 'in', 'included', 'including', 'males', 'median', 'month', 'months', 'of', 'old', 'patients', 'range', 'study', 'td', 'the', 'this', 'to', 'total', 'up', 'was', 'were', 'with', 'years']
[1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1 1 1 0 0 0 1 0 1 0 1 0 0 1 0 1 0 0 1
 0 0]

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
new_sentence = 'median patients months'
query = tf.transform([new_sentence]).toarray()
for index, vector in enumerate(TF.toarray()):
    sim=cosine_similarity(query, [vector])
    print("{index}\t{sim}".format(index=index, sim=sim))

0	[[0.14002801]]
1	[[0.16012815]]
2	[[0.18257419]]
3	[[0.47140452]]